<head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    
    <!-- font-awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- Google analytics(gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google.tracking_id }}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.analytics.google.tracking_id }}');
    </script>

    <!-- Maker-Widget -->
    <script>
        (function(d, h, m){
            var js, fjs = d.getElementsByTagName(h)[0];
            if (d.getElementById(m)){return;}
            js = d.createElement(h); js.id = m;
            js.onload = function(){
                window.makerWidgetComInit({
                position: "left",          
                widget: "yokv5yznjip0qo6e-5ghwlwujnr8bzlrq-lldsyldlfjztk3vd"                
            })};
            js.src = "https://makerwidget.com/js/embed.js";
            fjs.parentNode.insertBefore(js, fjs)
        }(document, "script", "dhm"))
    </script>
</head>

