---
layout: default
---

<section id="contact" class="wrapper style1 special fade-up">
    <div class="container">
        <header class="major">
            <h2>Get In Touch</h2>
            <p>빈칸을 채워 보내주세요!</p>
        </header>
        <form method="post" action="#">
            <div class="row gtr-uniform gtr-50">
                <div class="col-6 col-12-xsmall">
                    <input type="text" name="name" id="name" value="" placeholder="이름" />
                </div>
                <div class="col-6 col-12-xsmall">
                    <input type="email" name="email" id="email" value="" placeholder="이메일" />
                </div>
                <div class="col-12">
                    <select name="category" id="category">
                        <option value="">- 카테고리 -</option>
                        <option value="1">개인</option>
                        <option value="1">비즈니스</option>
                        <option  value="">프로젝트</option>
                        <option value="1">기타</option>
                        <!-- <option value="1">Human Resources</option> -->
                    </select>
                </div>
                <div class="col-6 col-12-medium">
                    <input type="checkbox" id="human" name="human" checked>
                    <label for="human">나는 로봇이 아닙니다. (I'm not a robot)</label>
                </div>
                <div class="col-12">
                    <textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
                </div>
                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="전송" class="primary" /></li>
                        <li><input type="reset" value="초기화" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</section>